.list {
    list-style: none;
}

.listItem {
    text-decoration: none;
}

.ItemName {
    text-align: center;
}

.itemLanguage {
    padding: 3px 0;
}

.itemLink {
    color: #3e6699;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    transition: 500ms;
}
.itemLink:hover {    
    color: #c5edfc;
    -webkit-text-stroke-width: 2px; /* Largura da borda */
    -webkit-text-stroke-color: #0a3d62; /* Cor da borda */
    font-size: 2rem;    
}

.card {        
    border: 1px solid #3e6699;    
    border-radius: 9px;
    padding: 9px;
    margin: 7px;
    transition: 1s;
}

.card:hover {
    background-color: #3e65996b;
}